html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#setup {
  padding: 10px;
  display: flex;
  justify-content: center;
}
#setup h1 {
  margin: 0.4em 0;
}
#setup .buttons-row {
  margin-top: 10px;
}

.form-wrapper .row {
  display: flex;
  align-items: center;
  margin-bottom: 0.3em;
}
.form-wrapper .row label, .form-wrapper .row label > span {
  min-width: 5.5em;
}
.form-wrapper .row label > span {
  display: inline-block;
}
.form-wrapper .row input[type=checkbox] {
  margin-left: 0;
}
.form-wrapper .row input[type=text] {
  width: 8em;
}
.form-wrapper .row > span {
  margin-left: 0.5em;
}

#turnToBreak {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;
}
#turnToBreak > div {
  position: relative;
  left: -50%;
  background: #d5ded0;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 0 0 10px 10px;
  padding: 3px 10px;
  color: #333;
}
#turnToBreak > div .name {
  font-weight: bold;
}

.undo {
  width: 5em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.undo button {
  font-size: 1.4em;
}

#endGame {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 3;
  font-size: 2em;
  text-align: right;
  padding: 5px 10px 10px 20px;
  border-radius: 0 0 0 20px;
  color: white;
  font-weight: bold;
}

#finalScore, #reload {
  background: url("images/bg.jpg");
  background-repeat: repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#finalScore > div, #reload > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background: rgba(255, 255, 255, 0.8);
  border: 4px solid #333;
  border-radius: 20px;
  padding: 40px;
}
#finalScore > div .text, #reload > div .text {
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#finalScore > div #finalScoreText, #reload > div #finalScoreText {
  font-weight: bold;
}
#finalScore > div .buttons, #reload > div .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#finalScore > div .buttons button, #reload > div .buttons button {
  font-size: 2em;
}

button {
  cursor: pointer;
}

#score {
  width: 100%;
  height: 100%;
  background: url("images/bg.jpg");
  background-repeat: repeat;
  color: white;
  display: flex;
}
#score .score-wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  cursor: pointer;
}
#score .score-wrapper .player-name {
  font-size: 4em;
}
#score .score-wrapper .score {
  font-size: 4em;
}
#score #player1Score {
  border-right: 2px solid black;
}

@media (max-width: 800px) {
  #finalScore > div .text, #reload > div .text {
    font-size: 2.5em;
  }
  #finalScore > div .buttons button, #reload > div .buttons button {
    font-size: 1.4em;
  }
}
@media (orientation: portrait) {
  #score {
    flex-direction: column;
  }
  #score .score-wrapper {
    width: 100vw;
    height: 50vh;
  }
  #score #player1Score {
    border-right: none;
    border-bottom: 2px solid black;
  }
}

/*# sourceMappingURL=style.css.map */
